/** @format */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-weight: 400;
}

.App {
  font-family: sans-serif;
}

.container {
  height: 100vh;
  max-width: 30rem;
  margin: 5rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container__slider,
.container__control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  height: 6rem;

  border: 1px solid #eee;
  border-radius: 5px;
}

.contaner__slider {
  padding: 1rem;
}

.container__control {
  justify-content: space-around;
}

.slider {
  margin-right: 1rem;
}

.input {
  padding: 1rem;
}

.btn {
  border: none;
  width: 4rem;
  height: 4rem;
  font-size: 2.4rem;
  text-align: center;
  border-radius: 4px;
  transition: 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #eee;
}

.btn--reset {
  margin-top: 1rem;
  font-size: 1.6rem;
  width: 100%;
}

.text {
  margin-top: 2rem;
  display: flex;
}
